[submodule "commonItems"]
	path = commonItems
	url = https://github.com/ParadoxGameConverters/commonItems.git
[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/ParadoxGameConverters/wxWidgets.git
