[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/ParadoxGameConverters/wxWidgets
[submodule "external/commonItems"]
	path = external/commonItems
	url = https://github.com/ParadoxGameConverters/commonItems
[submodule "external/SQLiteCpp"]
	path = external/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
