name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_windows_foreign:
    name: Build Windows foreign
    if: github.repository_owner != 'ParadoxGameConverters'
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: "Build solution"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\Fronter.sln

  build_linux_foreign:
    name: Build Linux foreign
    if: github.repository_owner != 'ParadoxGameConverters'
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: "Install prerequisites"
      run: |
       sudo apt-key adv --fetch-keys https://repos.codelite.org/CodeLite.asc
       sudo apt-add-repository 'deb https://repos.codelite.org/wx3.2/ubuntu/ jammy universe'
       sudo apt-get update
       sudo apt-get install libwxbase3.2-0-unofficial \
                libwxbase3.2unofficial-dev \
                libwxgtk3.2-0-unofficial \
                libwxgtk3.2unofficial-dev \
                wx3.2-headers \
                wx-common \
                libnotify-dev libnotify4 libcurl4-openssl-dev \
                ninja-build

    - name: "Link gcc-11 and g++-11 to their standard commands"
      run: |
       sudo ln -s /usr/bin/gcc-11 /usr/local/bin/gcc
       sudo ln -s /usr/bin/g++-11 /usr/local/bin/g++

    - name: "Build"
      run: |
       chmod u+x build_linux.sh
       ./build_linux.sh
       
  build_windows_local:
    name: Build Windows local
    if: github.repository_owner == 'ParadoxGameConverters'
    runs-on: [self-hosted, windows]

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: "Build solution"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\Fronter.sln

    - name: "Cleanup"
      if: always()
      run: |
        Get-ChildItem -Path $Env:GITHUB_WORKSPACE -Recurse -Force | Remove-Item -force -recurse

  build_linux_local:
    name: Build Linux local
    if: github.repository_owner == 'ParadoxGameConverters'
    runs-on: [self-hosted, linux]

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: "Build"
      run: |
       chmod u+x build_linux.sh
       ./build_linux.sh

    - name: Cleanup
      uses: colpal/actions-clean@v1
      if: always()
