name: Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build_windows:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: "Init submodules"
      run: |
       git submodule update --init --recursive
    - name: "Build solution"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\Fronter.sln
    - name: "Build updater executable"
      run: |
       cd Updater
       pip install -r requirements.txt
       pyinstaller --onefile --icon=updater.ico updater.py
       mkdir ../Release/Updater
       mv dist/updater.exe ../Release/Updater/updater.exe


  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: "Init submodules"
      run: |
       git submodule update --init --recursive
    - name: "Install wxWidgets"
      run: |
       sudo apt-key adv --fetch-keys https://repos.codelite.org/CodeLite.asc
       sudo apt-add-repository 'deb https://repos.codelite.org/wx3.1.5/ubuntu/ focal universe'
       sudo apt-get update
       sudo apt-get install libwxbase3.1-0-unofficial \
                 libwxbase3.1unofficial-dev \
                 libwxgtk3.1-0-unofficial \
                 libwxgtk3.1unofficial-dev \
                 wx3.1-headers \
                 wx-common
    - name: "Install libcurl"
      run: |
       sudo apt-get install libcurl4-openssl-dev
    - name: "Install GCC 11"
      run: |
       sudo apt-get install gcc-11 g++-11
    - name: "Link gcc-11 and g++-11 to their standard commands"
      run: |
       sudo ln -s /usr/bin/gcc-11 /usr/local/bin/gcc
       sudo ln -s /usr/bin/g++-11 /usr/local/bin/g++
    - name: "Export CC and CXX to tell cmake which compiler to use"
      run: |
       export CC=/usr/bin/gcc-11
       export CXX=/usr/bin/g++-11
    - name: "Check versions of gcc, g++ and cmake"
      run: |
       gcc -v && g++ -v && cmake --version
    - name: "Build"
      run: |
       chmod u+x build_linux.sh
       ./build_linux.sh
    - name: "Build updater executable"
      run: |
       cd Updater
       pip install -r requirements.txt
       pyinstaller --onefile --icon=updater.ico updater.py
       mkdir ../Release/Updater
       mv dist/updater ../Release/Updater/updater

  build_mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: "Init submodules"
      run: |
       git submodule update --init --recursive
    - name: "Build wxWidgets" # TODO: REPLACE WITH MAC STEPS
      run: |
       sudo apt-key adv --fetch-keys https://repos.codelite.org/CodeLite.asc
       sudo apt-add-repository 'deb https://repos.codelite.org/wx3.1.5/ubuntu/ focal universe'
       sudo apt-get update
       sudo apt-get install libwxbase3.1-0-unofficial \
                 libwxbase3.1unofficial-dev \
                 libwxgtk3.1-0-unofficial \
                 libwxgtk3.1unofficial-dev \
                 wx3.1-headers \
                 wx-common
    - name: "Install libcurl"
      run: |
       brew install libcurl
    - name: "Check versions of gcc, g++ and cmake"
      run: |
       gcc -v && g++ -v && cmake --version
    - name:
      run: |
       cd Fronter
       rm -rf build
       rm -rf ../Release
       cmake -H. -Bbuild
       cmake --build build -- -j40
    - name: "Build updater executable"
      run: |
       cd Updater
       pip install -r requirements.txt
       pyinstaller --onefile --icon=updater.ico updater.py
       mkdir ../Release/Updater
       mv dist/updater ../Release/Updater/updater